* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow: auto;
    font-family: 'Lato', sans-serif;
}

div::-webkit-scrollbar,
body::-webkit-scrollbar {
    background-color: transparent;
}

div::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background-color: transparent;
}

div::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 5px solid transparent;
    background-color: #cbced5;
    background-clip: content-box;
}

div::-webkit-scrollbar-button,
body::-webkit-scrollbar-button {
    display: none;
}

div,
body {
    scrollbar-color: #cbced5;
    scrollbar-width: thin;
    & *::selection {
        background: #b5d6fd;
    }
}
ul {
    // list-style: none;
    margin: 0;
    padding: 0;
}
a,
a:hover,
a:active {
    text-decoration: none;
    color: #ffffff;
}

body {
    font-size: 16px;
    color: #000000;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
