* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow: auto;
    font-family: 'Lato', sans-serif;
}

div::-webkit-scrollbar,
body::-webkit-scrollbar {
    //background-color: transparent;
}

div::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    //background-color: transparent;
}

div::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 5px solid transparent;
    background-color: #cbced5;
    background-clip: content-box;

        //@include for-size(sm) {
        //    background: transparent;
        //}
}

div::-webkit-scrollbar-button,
body::-webkit-scrollbar-button {
    display: none;
}

div,
body {
    scrollbar-color: #cbced5;
    scrollbar-width: thin;
    //& *::selection {
    //    background: #b5d6fd;
    //}
}
ul {
    // list-style: none;
    margin: 0;
    padding: 0;
}
a,
a:hover,
a:active {
    text-decoration: none;
    color: #ffffff;
}

body {
    font-size: 16px;
    color: #000000;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

p{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.gutter {
    padding-top: 30px;
}

.button{
    font-weight: 500;
    padding: 0 10px;
    outline: 0;
    border: 0;
    color: #1e1e1e;
    background-color: rgb(63, 163, 63);
    border-radius: 10px;

    &__orange{
        background-color: #FF7C00;
    }
    &__big-length{
        padding: 10px 40px 10px 40px;
    }
}
.image{
    width: 100%;
    height: 100%;
}
.text{
    font-weight: 900;
    color: white;

    &__big {
        font-size: 50px;
        @include for-size(sm) {
            font-size: 45px;
        }
    }

    &__bold {
        font-size: 16px;
        font-weight: 600;
    }

    &__right-margin {
        margin-right: 10px;
    }
}
