// colors
$white-color: #fff;
$grey-color: #9dacb9;
$deep-grey-color: #323a51;
$active-grey-color: #9298a8;
$black-color: #000;
$blue-color: #0bbbef;
$dark-blue-color: #1976d2;
$blue-hover: #51c6f3;
$blue-active: #2980c3;
$purple-color: #795cb6;
$purple-hover: #795cb6;
$purple-active: #795cb6;
$green-color: #5bc766;
$pink-color: #e7719c;
$orange-color: #e88715;
$disabled-color: #cdd5dc;
$bg-grey-color: #f4f5fa;
$light-grey-color: #f1f4f6;
$blue-admin-color: #45ace1;
$blue-navy-color: #00385d;

// Типографика
$text: #333;
$base-line-height: 1.75;

// Transition
$trs: all 0.4s cubic-bezier(0.33, 0, 0, 1);
