$accent: #73BFFF;  // Main color
$accent-light: #87CEFA;  // Main color
$accent-dark: #42AAFF;  // Main color
$light-bg: #FAFAFA; // Main color
$light-disabled: #E4E6E8; // Main color
$light-div: #E7E7E8; // Main color
$text: #333;		// Main color
$dark: #202328; 	// Main color
$down: #f5ffff; 	// Main color
$gutter: 20px;
$base-font-size: 16px; 
$small-font-size: 14px; 
$base-line-height: 1.75;
$systemfont: -applesystem, BlinkMacSystemFont, Arial, sans-serif;
$radius: 5px;
$radius-style: 0 5px;
$transition: .25s ease-out;
$font-family: 'Fira Sans', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a, a:hover, a:active{
	text-decoration: none;
	color: #666;
}
body{
	font-family: $font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $text;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}