header {
  position: relative;
  height: 100vh;
  background-color: black;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 15px 0;

  @include for-size(xxs) {
    align-items: center;
    flex-direction: column;
  }
  &__wrapper {
    padding: 0 80px;
    background: #1e1e1e;
    @include for-size(sm) {
      padding: 0 20px;
    }
  }

  &__menu {
    align-self: flex-start;
  }

  &__items {
    display: inline-block;
  }

  &__link {
    margin: 0 20px;
    padding: 3px 6px;
    transition: .3s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, .2);
      border-radius: 3px 10px 3px 10px;
    }
  }

  &__telephone {
    cursor: pointer;
  }
}

header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("../../assets/img/Background_orig.png")no-repeat center center/cover;
}

.header {
  &__body {
    display: flex;
    justify-content: center;

    &-wrapper{
      //flex: 1 0;
      display: flex;
    }
    &-header{
      text-align: center;
      margin-bottom: 50px;
      p {
        font-size: 23px;
        font-weight: 500;
        color: #fff;
        margin: 10px 0 30px 0;
      }
    }
  }

  &__img{
    position: absolute;
    right:0;
    left: 1050px;
    top: 50%;
    transform: translateY(-50%);
    @include for-size(md) {
      left: 778px;
    }
    @include for-size(sm) {
      left: 543px;
    }
    @include for-size(xs) {
      display: none;
    }
  }

  &__footer {
    padding: 10px;
    &-wrapper {
      background-color: #1e1e1e;
      border-bottom: 1px solid #91919150;
    }
    @include for-size(xs) {
      text-align: center;
    }
  }

  &__text {
    @include for-size(xs) {
      text-align: center;
    }
  }

  &__button {
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    border: 0;
    outline: 0;
    background: 0;
    margin: 0 15px;
    padding: 3px 10px;
    font-size: 18px;
    font-weight: 500;
    transition: .3s ease-in-out;
    color: #fff;

    &:hover {
      background-color: rgba(0, 0, 0, .2);
      border-radius: 3px 10px 3px 10px;
    }
  }
}
