header {
  position: relative;
  height: 100vh;
  background-color: black;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 15px 0;

  @include for-size(xxs) {
    align-items: center;
    flex-direction: column;
  }
  &__wrapper {
    padding: 0 80px;
    @include for-size(sm) {
      padding: 0 20px;
    }
  }

  &__menu {
    align-self: flex-start;
  }

  &__items {
    display: inline-block;
  }

  &__link {
    margin: 0 20px;
    padding: 3px 6px;
    transition: .3s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, .2);
      border-radius: 3px 10px 3px 10px;
    }
  }

  &__telephone {
    cursor: pointer;
  }
}

header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  &__body {
    width: 100%;
    &-wrapper{
      //flex: 1 0;
      display: flex;
    }
  }

  &__footer {
    &-wrapper {
      margin-bottom: 20px;
    }
    @include for-size(xxs) {
      text-align: center;
    }
  }

  &__text {
    @include for-size(xxs) {
      text-align: center;
    }
  }

  &__button {
    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    border: 0;
    outline: 0;
    background: 0;
    margin: 0 15px;
    padding: 3px 10px;
    font-size: 18px;
    font-weight: 500;
    transition: .3s ease-in-out;
    color: #fff;

    &:hover {
      background-color: rgba(0, 0, 0, .2);
      border-radius: 3px 10px 3px 10px;
    }
  }
}
