.banner {
    &__wrapper {
        background: #1e1e1e
    }
}

.partners-img {
    padding: 30px 0;
    text-align: center;
}

.filters-info {
    background-image: url(../../assets/img/Frame_44.png); background-repeat: no-repeat; height: 750px; padding: 10px;
}

.—Åooperation {
    background: #1e1e1e;
}
.cooperation__text {
    color:white;
    display:flex;
    text-align:center;
    justify-content:center;
    padding: 0 0 50px;
    font-weight: 500;
    font-size: 25px;
}

.expendable-material {
    background-color:black;
    background-image: url(../../assets/img/Frame_26.png);
    background-repeat: no-repeat;
}

.mezinfo__card {
    margin-bottom: 40px;
}
.electrics {
    background-color:black;
    background-image: url(../../assets/img/Frame_45.png);
    background-repeat: no-repeat;
    height: 800px;
}

.info-manifactures{
    padding: 50px;
    text-decoration: none;
}

.info-about {
    padding: 50px 0 50px 0;
    text-align: center;
    &__head {
        padding: 50px 0 50px 0;
        justify-content: center;
        text-align: center;
    }
}

.info-services {
    padding: 50px;
    text-align: center;
}

.banner{
    &__card{
        margin-bottom: 40px;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    &__title{
        font-size: 24px;
        font-weight: 700;
    }

    &__img{
        display: flex;
        align-items: center;
    }
}

.team-about {
    padding: 50px 0 50px 0;
    justify-content: center;
    text-align: center;

    &__head {
        padding: 50px 0 50px 0;
    }

    &__separation {
        padding: 5px;
    }
}

.about-head{

    padding: 50px;
    text-align: center;
    justify-content: center;
}