.info-manifactures{
    
    padding: 50px;
    text-decoration: none;
}

.info-about {
    padding: 50px 0 50px 0;
    text-align: center;
    &__head {
        padding: 50px 0 50px 0;
        justify-content: center;
        text-align: center;
    }
}

.info-services {
    padding: 50px;
    text-align: center;
}

.banner{
    &__card{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    &__title{
        font-size: 24px;
        font-weight: 700;
    }

    &__img{
        display: flex;
        align-items: center;
        flex: 1 0;
    }
}

.team-about {
    padding: 50px 0 50px 0;
    justify-content: center;
    text-align: center;

    &__head {
        padding: 50px 0 50px 0;
    }

    &__separation {
        padding: 5px;
    }
}

.about-head{

    padding: 50px;
    text-align: center;
    justify-content: center;
}